%h1 Timber Room

%p Built from composite timber materials donated by Finn Forest, the Timber Room was originally conceived as a an exhibition space to house models of timber structures at Eco Build 2008. The structure was later dismantled and re-appropriated to become a studio space for two artists.

%p The design draws reference from traditional timber framed construction and the photography of Bernd & Hilla Becher which catalogues the formal and compositional opportunities of these outwardly expressed structures.

%p The Timber Room received a commendation at the AJ Small Projects Awards 2009.
