!!! 5
%html
   %head
      %meta{:charset => 'utf-8'}
      %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
      %title Egan Wiesner
      %meta{:content => 'Egan Wiesner is a London based Architectural and Interior Design Studio established in 2008 by Chris Egan and Will Wiesner.', :name => 'description'}
      %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0", :name => "viewport"}
      %link{:href => 'http://fonts.googleapis.com/css?family=EB+Garamond', :rel => 'stylesheet', :type => 'text/css'}
      %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}
      %link{:href => '/css/iphone.css', :rel => 'stylesheet', :type => 'text/css'}

      != css :application

   %body{:class => 'iphone'}
      = partial :'iphone'
      = partial :'googleanalytics'