%p
   Egan Wiesner are contracted as consultants and project managers to the London stores of Bulgari UK. We cover the jewellery stores on Sloane Street, New Bond street, Harrods, Selfridges and The Royal Exchange.