%h1 Queen's Park

%p This was a large family home in need of restoration.

%p The clients brief was to create a new simple interior consisting of restored original features offset with modern finishes.

%p The property was freed of its poorly designed cabinetry and en-suite facilities, rooms were opened up and redundant chimney breasts were removed. New services including electrics and plumbing were installed and the original floorboards were repaired and reinstated throughout.

