%p
   Egan Wiesner Ltd
   %br
   First Floor,
   %br
   Old Town Hall,
   %br
   354 Mare Street,
   %br
   London E8 1HR

%p
   +44 (0)20 8510 0219
%a{:href => "mailto:admin@eganwiesner.com"}
   admin@eganwiesner.com