%h1 Islington Loft

%p Loft extensions to Victorian terraced houses are common place and typically comprise of a cramped room, small dormer window and awkward access.

%p Through the re-interpretation of local planning policy we were able to deliver a different solution, providing space that is both generous and functional. In addition, an external terrace was created by replacing the pitched roof over the kitchen.

%p The efficiency of the design generated a 55% increase in the usable internal floor area of the property. Planning approval was promptly granted without appeal.
