%h1.visuallyhidden
   About
%p
   Egan Wiesner is a London based Architectural and Interior Design Studio established in 2008 by Chris Egan and Will Wiesner.

%p
   The studio is focussed on a rigorous and critical approach to the design process. We are committed to delivering unique projects that respond to context and brief.
%p
   We work closely with our clients and other consultants to efficiently deliver projects of the highest quality across a broad range of typologies and scales.
