%h1.visuallyhidden Careers

.block
   %p
      We are currently interviewing for the following positions:
   %h3
      Architect Part III
   %p
      Minimum 3 years post Part III experience.
   %h3
      Architectural Assistant Part II
   %p
      Minimum 3 years post Part II experience. AutoCad fluency essential.
%p
   Please forward a copy of your current cv, together with a covering letter to:&dash;

%p
   Sachiko Miyata
   %br
   Egan Wiesner
   %br
   The Old Town Hall
   %br
   354 Mare Street
   %br
   London E8 1HR
%p
   %a{:href => "mailto:sachiko@eganwiesner.com"}
      sachiko@eganwiesner.com