%h2
   Beacroft & Beacroft
%p
   Prime London Luxury property developers

%h2
   Londonwide Properties PLC
%p
   London residential property developers

%h2
   Bulgari UK
%p
   Luxury Jewellers

%h2
   Certcroft Ltd
%p
   Property Management Company

%h2
   Shelter From the Storm
%p
   Homeless Charity

%h2
   St John The Evangelist N1
%p
   RC church

%h2
   PCL Partnership
%p
   Prime London Luxury property developers

%h2
   Yasmine Ltd
%p
   Property Management Company

%h2
   Together Design
%p
   Graphic Design Company

%h2
   Stamos Yeoh Architects
%p
   Architectural Practice

%h2
   Egan Wiesner Ltd
%p
   Architectural Practice