%h1.visuallyhidden
  News

.bulletin.first.pillar.slide
  .wrap
    %h3.date
      06.11.2012
    %h2.date
      Queens Gate Knightsbridge
    %img{:src => "./images/static/news/2012.11.06_Queens-Gate-Knightsbridge/0.jpg"}/
    %p
      License to alter has been granted for this West London refurbishment. Strip out has begun and the project is progressing on site.
    / =dir

  .wrap
    %h3.date
      12.10.2012
    %h2.date
      Upper Brook Street
    %img{:src => "./images/static/news/2012.10.12_Upper-Brook-Street/0.jpg"}/
    %p
      Egan Wiesner have been appointed for the refurbishment of the communal parts of a portered mansion block in the heart of Mayfair.
    / =dir
.bulletin.pillar.slide
  .wrap
    %h3.date
      18.07.2012
    %h2.date
      Mayfair Apartment
    %img{:src => "./images/static/news/2012.09.17_Mayfair-Apartment/0.jpg"}/
    %p
      Our Mayfair refurbishment has started on site. Strip out is complete and the works are progressing.
    / =dir
.bulletin.pillar.slide
  .wrap
    %h3.date
      12.06.2012
    %h2.date
      Bulgari
    %img{:src => "./images/static/news/2012.06.12_Bulgari/0.jpg"}/
    %p
      Egan Wiesner have been appointed as architectural consultants and project managers to Bulgari UK.
    / =dir
  .wrap
    %h3.date
      11.04.2012
    %h2.date
      Hampstead Townhouse
    %img{:src => "./images/static/news/2012.04.11_Hampstead-Townhouse/0.jpg"}/
    %p
      Planning approval has been granted for a front and basement extension to this large townhouse.
    / =dir
.bulletin.pillar.slide
  .wrap
    %h3.date
      24.02.2012
    %h2.date
      Marylebone Penthouse
    %img{:src => "./images/static/news/2012.02.24_Marylebone-Penthouse/0.jpg", :height => 260}/
    %p
      Works have been completed in Marylebone.
  .wrap
    %h3.date
      08.11.2011
    %h2.date
      Riverview Gardens
    %img{:src => "./images/static/news/2011.11.08_Riverview-Gardens/0.jpg"}/
    %p
      Refurbishment works are now complete.
    %p
      %a{:href => "/projects/riverview-gardens"}
        View this project

.bulletin.pillar.slide
  .wrap
    %h3.date
      19.01.2012
    %h2.date
      Hampstead Penthouse
    %img{:src => "./images/static/news/2012.01.19_Hampstead-Penthouse/0.jpg"}/
    %p
      Works to this Hampstead penthouse are now complete.
    %p
      %a{:href => "/projects/hampstead"}
        View this project

.bulletin.pillar.slide
  .wrap
    %h3.date
      28.10.2011
    %h2.date
      Wealdstone Masterplanning
    %img{:src => "./images/static/news/2011.10.28_Wealdstone-Masterplanning/0.jpg"}/
    %p
      Egan Wiesner have been appointed by the local Church Parish to produce a feasibility study for the relocation of their Priest house. As part of a larger master-plan, proposals aim to free up the site to allow a new school to be built.

  .wrap
    %h3.date
      20.12.2011
    %h2.date
      Queens Gate Knightsbridge
    %img{:src => "./images/static/news/2011.12.20_Queens-Gate-Knightsbridge/0.jpg"}/
    %p
      Egan Wiesner have been appointed to produce proposals for the refurbishment and remodelling of a 230m² apartment in West London.

.bulletin.pillar.slide
  .wrap
    %h3.date
      15.07.2011
    %h2.date
      Riverview Gardens
    %img{:src => "./images/static/news/2011.07.15_Riverview-Gardens/0.jpg", :height => 240}/
    %p
      This mansion block apartment refurbishment is now on site. Strip out is complete and new partitions are going up.
  .wrap
    %h3.date
      15.04.2010
    %h2.date
      Hampstead Townhouse
    %img{:src => "./images/static/news/2010.04.15_Hampstead-Townhouse/0.jpg", :height => 130}/
    %p
      Egan Wiesner have been appointed to produce proposals to extend a large town house in Hampstead.

.bulletin.pillar.slide
  .wrap
    %h3.date
      14.03.2011
    %h2.date
      Hamilton Park West
    %img{:src => "./images/static/news/2011.03.14_Hamilton-Park-West/0.jpg"}/
    %p
      This small garden building is now complete.
    %p
      %a{:href => "/projects/hamilton-park-west"}
        View this project
    / =dir
.bulletin.pillar.slide
  .wrap
    %h3.date
      25.03.2010
    %h2.date
      Publication
    %img{:src => "./images/static/news/a2010.03.25_Publication/0.jpg", :height => 260}/
    %p
      Egan Wiesner's bespoke furniture features in this months copy of House & Garden magazine.
    %p
      %a{:href => "/projects/bespoke-furniture"}
        View this project
  .wrap
    %h3.date
      29.10.2010
    %h2.date
      Hamilton Park West
    %img{:src => "./images/static/news/a2010.02.23_Hamilton-Park-West/0.jpg"}/
    %p
      Planning approval has been granted for a new studio building