%h2
   Upper Brook Street W1

%p
   Full refurbishment of common parts to a portered apartment building and façade restoration in the heart of Mayfair
   %br
   Size: 5000sq ft
   %br
   Contract: Design & Build

%h2
   Alexandra Court SW1
%p
   Full refurbishment of luxury 5 bedroom apartment in a portered mansion block on Queens Gate, Kensington.
   %br
   Size: 3000sq ft
   %br
   Contract: Traditional Contract

%h2
   Flat 6 Upper Brook Street W1
%p
   Luxury refurbishment of exclusive apartment in Mayfair apartment block.
   %br
   Size: 1200sq ft
   %br
   Contract: Traditional Contract (cost plus)

%h2
   Bulgari UK
%p
   Commercial maintenance contract for Luxury Jewellery stores in Harrods, Selfridges, New Bond Street and Sloane Street (on-going)
   %br
   Size: N/A
   %br
   Contract: Maintenance Contract

%h2
   Belgrave Road SW7
%p
   Refurb of investment property for letting
   %br
   Size: 600sq ft
   %br
   Contract: Design & Build

%h2
   The Old Town Hall E8
%p
   Office fit out for architectural practice
   %br
   Size: 500sq ft
   %br
   Contract: Traditional Contract

%h2
   Pied Bull Yard N1
%p
   Refurb of investment property for letting
   %br
   Size: 600sq ft
   %br
   Contract: Traditional Contract

%h2
   Cannon Place NW3
%p
   Luxury Penthouse Apartment refurbishment, façade restoration and external in Hampstead village
   %br
   Size: 1300sq ft
   %br
   Contract: Traditional Contract (cost plus)

%h2
   Shelter From The Storm
%p
   Maintenance work for Homeless shelter in Kings Cross (on –going)
   %br
   Size: N/A
   %br
   Contract:  Charity work

%h2
   St John The Evangelist N1
%p
   Maintenance work for Grade II listed church in the heart of Islington (on –going)
   %br
   Size: N/A
   %br
   Contract: Maintenance Contract

%h2
   Lambton Road SW22
%p
   Roof extension and refurbishment to Victorian terraced property in a conservation area in Wimbledon
   %br
   Size: 1850 sq ft
   %br
   Contract: Traditional Contract

%h2
   Great Titchfield Street W1
%p
   Commercial maintenance work for Graphic Design Studio in Fitzrovia.
   %br
   Size: N/A
   %br
   Contract: Maintenance Contract

%h2
   Westbourne Park Villas W11
%p
   Luxury kitchen fit out for exclusive West London home
   %br
   Size: 400sq ft

%h2
   Leinster Gardens W2
%p
   Luxury kitchen fit out for exclusive West London home
   %br
   Size: 400sq ft

%h2
   Bryanston Court W1
%p
   Luxury refurbishment of exclusive apartment in Marylebone apartment block.
   %br
   Size: 1200sq ft
   %br
   Contract: Traditional Contract (cost plus)


%h2
   Leconfield Road N5
%p
   Multiple Roof extensions and refurbishment to Victorian terraced property in Islington
   %br
   Size: 750 sq ft
   %br
   Contract: Traditional Contract











