%h1
   Hamilton
   %br
   Park West

%p
   Our client’s brief was to create a flexible space that could be used as a light carpentry workshop and studio space.

%p
   In the garden of this semi-detached Georgian house within an Islington conservation area, stood a small dilapidated brick building; an original annexe to the main property. Used as a garden shed, this crumbling and gloomy building was of little architectural merit.

%p
   Responding to the rudimentary nature of a garden shed, an emphasis was placed on simple building techniques and the tactile use of natural materials and finishes. A reinforced concrete raft with an upturned perimeter forms a durable floor finish and skirting detail upon which a timber frame sits.
