%h2
   Hamilton
   %br
   Park West

%p
   Externally the building is clad in hand charred vertical cedar boards with a corrugated metal roof. Set back from the low eaves that flanks the main garden space, a bespoke north facing roof light brings an even and diffused light to the interior and maximises internal head room. Internally the shed is finished with rough sawn larch boards hand fixed with cut nails. The roof light reveals are lined with planed larch boards and bespoke timber doors and casement windows are fitted with hand forged ironmongery.
%p
   Planning approval was quickly granted for ‘Dilapidated garden shed to be replaced with garden shed’ and the project is fully compliant with building control.