%h1 Hamilton Park

%p In the garden of this semi-detached Georgian house within an Islington conservation area stood a small dilapidated brick building; an original annexe to the main property. Used as a garden shed, this crumbling and gloomy building was of little architectural merit.

%p Our client's brief was to replace the building and create a flexible space that could be used as a light carpentry workshop and studio space.

