%h1.visuallyhidden Bespoke Furniture

%h2 N&amp;M Table
%p This coffee table is made from solid English oak and hand finished with Danish Oil. The individual slats and leg pieces are machine formed and fixed together with two stainless steel tensioning rods. This structural technique is based on the principles of a stress ribbon bridge and gives the table its elegant profile and high strength qualities.
%p Manufactured and assembled in London.
%p Materials sourced from UK producers and suppliers.