%h2 Eve's Wardrobe
%p This bespoke wardrobe was designed for a client who required maximum storage from a bedroom alcove.
%p This furniture piece is built from FSC certified birch plywood with welded mild steel hanging rails.
%p Manufactured and assembled in London.